<h3>Items</h3>
<div class="div-parent">
  <div class="div-left">
    <table>
      <thead>
            <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stocks</th>
        </tr>
      </thead>
      <tr *ngFor="let item of items" (click)="setSelectedItem(item)"
        [ngClass]="{'highlight' : item === selectedItem}">
        <td>{{ item.Id }}</td>
        <td>{{ item.Name }}</td>
        <td>{{ item.Price }}</td>
        <td>{{ item.Stocks }}</td>
      </tr>
        <tr *ngIf="!items || !items.length">
          <td colspan="6">No items!</td>
        </tr>
    </table>
    <br/>
  </div>
  <div class="div-right">
    <form>
      <div class="div-parent">
        <div class="div-form-left">
          <label>Name</label>
          <br/>
          <br/>
          <label>Price</label>
          <br/>
          <br/>
          <label>Stocks</label>
        </div>
        <div class="div-form-right">
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="newItem.Name"/>
          <br/>
          <br/>
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="newItem.Price"/>
          <br/>
          <br/>
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="newItem.Stocks"/>
          <br/>
          <br/>
          <button (click)="addItem()">Add</button>
        </div>
      </div>
    </form>
    <br/>
    <form>
      <div class="div-parent" *ngIf="selectedItem">
        <div class="div-form-left">
          <label>Name</label>
          <br/>
          <br/>
          <label>Price</label>
          <br/>
          <br/>
          <label>Stocks</label>
        </div>
        <div class="div-form-right">
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.Name"/>
          <br/>
          <br/>
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.Price"/>
          <br/>
          <br/>
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.Stocks"/>
          <br/>
          <br/>
          <button (click)="update()">Update</button>
        </div>
      </div>
      <div *ngIf="!selectedItem">
        <h4>Please select an item</h4>
      </div>
    </form>
  </div>
</div>
