button {
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.div-parent {
  display: flex;
}

.div-left {
  width: 70%;
}
.div-right {
  width: 30%;
  margin: 0px 10px;
}

form {
  margin: 40px 0px 0px;
  border-radius: 5px;
  background-color: #3d413f;
  padding: 10px;
}

input {
  width: 70%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-login {
  width: 25%;
  margin: 0px 5px;
}
