<h3>Items</h3>
    <table>
      <thead>
          <tr>
            <th>Name</th>
            <th>Customer Id</th>
            <th>Id</th>
            <th>Status</th>
            <th>Date</th>
            <th>Total</th>
        </tr>
      </thead>
      <tr *ngFor="let purchase of purchases" (click)="openProfile(purchase)"
        [ngClass]="{'highlight' : purchase === selectedPurchase}">
        <td>{{ purchase.Name }}</td>
        <td>{{ purchase.Purchase.CustomerId }}</td>
        <td>{{ purchase.Purchase.Id }}</td>
        <td>{{ purchase.Purchase.Status }}</td>
        <td>{{ purchase.Purchase.Date }}</td>
        <td>{{ purchase.Purchase.Total }}</td>
      </tr>
        <tr *ngIf="!purchases || !purchases.length">
          <td colspan="6">No purchases!</td>
        </tr>
    </table>
