form {
  margin: 10px 10px;
}
select {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.div-parent {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

button {
  width: 100%;
  color: white;
  background-color: #303530;
  border-radius: 5px;
  padding: 6px;
  margin-top: 5px;
}
