<br/>
<div class="div-parent">
  <form>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.FirstName" placeholder="FirstName*"/>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.MiddleName" placeholder="MiddleName"/>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.LastName" placeholder="LastName*"/>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.Address" placeholder="Address*"/>
    <label for="gender">Gender</label>
    <select id="gender" name="Gender*" [(ngModel)]="customer.Gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.ContactNo" placeholder="Contact No*"/>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="customer.Email" placeholder="Email Address*"/>
    <button (click)="signUp()">Sign Up</button>
  </form>
</div>
