<h3>Items in Cart</h3>
<div class="div-parent">
  <div class="div-left">
    <table>
      <thead>
            <tr>
            <td>  </td>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
      </thead>
      <tr *ngFor="let item of purchaseDetails" (click)="setSelectedItemId(item.PurchaseItem.ItemId)"
        [ngClass]="{'highlight' : item.PurchaseItem.ItemId === selectedItemId}">
        <td><input type="checkbox"  (change)="checkedItem($event, item)"></td>
        <td>{{ item.PurchaseItem.Id }}</td>
        <td>{{ item.Name }}</td>
        <td>{{ item.PurchaseItem.Price }}</td>
        <td>{{ item.PurchaseItem.Quantity }}</td>
        <td>{{ item.PurchaseItem.SubTotal }}</td>
      </tr>
        <tr *ngIf="!purchaseDetails || !purchaseDetails.length">
          <td colspan="6">No items in cart!</td>
        </tr>
    </table>
    <br/>
  </div>
  <div class="div-right">
    <form>
      <button (click)="profile()">Go back to Profile</button>
      <button (click)="addItems()">Add Items</button>
      <button (click)="remove()">Remove</button>
      <button (click)="checkout()">Checkout</button>
      <div class="div-parent">
        <div class="div-form-left">
          <label>Total Php:</label>
        </div>
        <div class="div-form-right">
          <input type="text" readonly=true [ngModelOptions]="{standalone: true}" [(ngModel)]="grandTotal"/>
        </div>
      </div>
    </form>
    <br/>
    <form>
      <div class="div-parent" *ngIf="selectedItem">
        <div class="div-form-left">
          <label>Name</label>
          <br/>
          <br/>
          <label>Price</label>
          <br/>
          <br/>
          <label>Quantity</label>
          <br/>
          <br/>
          <label>Subtotal</label>
        </div>
        <div class="div-form-right">
          <input type="text" readonly=true [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.Name"/>
          <br/>
          <br/>
          <input type="text" readonly=true [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.PurchaseItem.Price"/>
          <br/>
          <br/>
          <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.PurchaseItem.Quantity"/>
          <br/>
          <br/>
          <input type="text" readonly=true  [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedItem.PurchaseItem.SubTotal"/>
          <br/>
          <br/>
          <button (click)="update()">Update</button>
        </div>
      </div>
      <div *ngIf="!selectedItem">
        <h4>Please select an item</h4>
      </div>
    </form>
  </div>
</div>
