table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}
td, th {
  border: 1px solid #ddd;
  padding: 5px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #444d44;
  color: white;
}

table tr.highlight {
  background-color: #4CAF50 !important;
  color: #ffffff;
}

input {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h4 {
  color: white;
  margin: auto;
  text-align: center;
}
button {
  width: 100%;
  margin: 5px 0px;
}

form {
  margin: auto;
  border-radius: 5px;
  background-color: #434644;
  padding: 10px;
  width: 90%;
}

label {
  color: white;
}

.left {
  width: 15%;
  float: left;
  text-align: right;
}
.right {
  width: 80%;
  margin-left: 10px;
  float:left;
}

.div-parent {
  display: flex;
  margin-top: 5px;
}

.div-left {
  width: 70%;
}
.div-right {
  width: 30%;
  margin: 0px 10px;
}

.div-form-left {
  width: 30%;
}

.div-form-right {
  width: 70%;
  margin: 0px 10px;
}

.left-button {
  width: 45%;
  float: left;
}

.right-button {
  width: 45%;
  margin-left: 10px;
  float:left;
}
