table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #444d44;
  color: white;
}

table tr.highlight {
  background-color: #4CAF50 !important;
  color: #ffffff;
}
