
.div-parent {
  display: flex;
  margin-top: 5px;
}

.div-form-left {
  width: 30%;
}

.div-form-right {
  width: 70%;
  margin: 0px 10px;
}

button {
  width: 100%;
  border-radius: 5px;
  padding: 6px;
  margin-top: 5px;
}

input {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  margin: auto;
  border-radius: 5px;
  background-color: #434644;
  padding: 10px;
  width: 90%;
}

label {
  color: white;
}

h3 {
  color: white;
}
