<form>
  <div>
    <h3>{{ purchaseDetail.Name | titlecase }}</h3>
  </div>
  <div>
    <label>Price:</label>
    <label>{{ purchaseDetail.PurchaseItem.Price | currency: 'Php'}}</label>
  </div>
  <div>
    <label class="left-margin">Quantity:</label>
    <br/>
    <input type="number" min="1" [max]="stocks + 1"
           [value]="purchaseDetail.PurchaseItem.Quantity" (change)="update($event.target.value)">
  </div>
  <div>
    <label class="left-margin">SubTotal:</label>
    <br/>
    <label>{{ purchaseDetail.PurchaseItem.SubTotal | currency: 'Php' }}</label>
  </div>
  <button (click)="remove()">Remove</button>
</form>
