<div class="div-parent">
  <div class="div-left">
    <br/>
    <h2>{{ title }}</h2>
  </div>
  <div class="div-right">
    <form>
      <input type="text" [(ngModel)]="id"  [ngModelOptions]="{standalone: true}" placeholder="Enter Customer ID"/>
      <button (click)="logIn()" class="button-login">Confirm</button>
      <button (click)="signUp()" class="button-signup">Sign Up</button>
    </form>
  </div>
</div>
<div id='modal-container' class="hidden"></div>
<div id="overlay" class="hidden"></div>
<app-customers-list [customers]="customers"></app-customers-list>
